@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #134493;
}

section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f1d40;
    clip-path: circle(70% at right -20%);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 100px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a{
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40px;
}

header .navigation li a:hover{
    color: #134493;
    transition: 0.5s ease-in-out;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 700px;
    margin-right: 20px;
}

.content .textBox h2{
    color: #ffff;
    font-size: 3em;
    margin-bottom: 15px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p{
    color: #ffff;
}

.content .textBox a{
    display: inline-block;
    margin-top:20px ;
    padding: 8px 20px;
    background: #0f1d40;
    color: #ffff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .textBox a:hover{
    text-decoration:underline;
    transition: 0.5s ease-in-out;
}


.social{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li{
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-left: 15px;
    background:#134493;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.social li a:hover{
    background: #0f1d40;
    transform: translateY(-10px);
}

.social li a img{
    filter: invert(1);
    transform: scale(0.8);
}

.social .logo-footer a img{
    margin-left: 300px;
    max-width: 200px;
}


/*********SLIDER*********/

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 400px;
    display: flex;
    justify-content: center;
  }

  .content .imgBox{
    width: 500px;
    display: flex;
    justify-content: flex-end;
  }

  .content .imgBox img{
    max-width: 150px;
  }

  .swiper-slide img{
    position: absolute;
    bottom: 0;
    max-height: 100%;
  }

  .swiper-3d .swiper-slide-shadow-left {
    background-image: none;
  }

  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }


  /********* RESPONSIVE *********/

  @media (max-width: 991px) {
    
    header{
        padding: 40px;
    }

    section{
        padding: 200px 40px;
    }

    .social{
        left:100px;
    }

    .social .logo-footer{
        display: none;
    }

    .content{
        flex-direction: column;
    }

    .content .textBox{
        margin-top: 100px;
        max-width: 100%;
    }

    .swiper-slide{
        height: 300px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0f1d40;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;

    }

    header .navigation li a{
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }

    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active{
        position: fixed;
        right: 40px;
        background: url(images/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
  }